html {
    background-color: #020659;
    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    background-color: white;
    width: 375px;
    display: grid;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
}
header {
    background-image: linear-gradient(to right, #2104D9, #020659, black);
    color: white;
    padding: 1px 30px;
    grid-area: header;
    
}

main {
    grid-area: main;
    width: 375px;
}

h1 {
    font-size: 22px;
    line-height: 2em;
}

h2, h3 {
    font-size: 1em;
    color: #590242;
    
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-color: #030A8C;
    grid-area: nav;
    height: 60px;
    position: relative;
}

nav h2 {
    visibility: hidden;
    position: absolute;
}

nav ul, nav a {
    list-style-type: none;
    text-decoration: none;
}

#MuzMak {
    font-variant-caps: small-caps;
    position: absolute;
    top: 10px;
    margin-left: 55px;
}

#MuzMak a {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#curated_playlists section, #your_playlists section {
    text-align: center;
}

#curated_playlists {
    background-color: #030A8C;
    height: 342px;
}

#curated_playlists section {
    margin: 0 10px 10px 10px;
    background-color: #020873;
    width: 150px;
    padding: 10px 10px 0 10px;
}

#your_playlists {
    background-color: #2699FB;
    height: 324px;
}

#your_playlists h3, #your_playlists p, #curated_playlists h3, #curated_playlists p {
    color: white;
    line-height: 1em;
    margin: 10px;

}

#your_playlists section {
    margin: 0 10px 10px 10px;
    background-color: #0D8DFB;
    width: 150px;
    padding: 10px 10px 0 10px;
    
}

.heads {
    background-color: white;
    padding: 0 0 10px 40px;
    
}

#scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

#scroll section {
    margin: 10px;
    position: relative;
}

#scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}

#scroll div h3, #scroll div dl {
    position: absolute;
    
}

#scroll div dl {
    top: 20px;
    display: flex;
}

#scroll div h3 {
    bottom: 15px;
}

#scroll_curated, #scroll_your {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

dt {
    font-style: italic;
}

dl {
    color: #590242;
    display: flex;
}

dd {
   position: relative;
   right: 25px;
}

audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

.more {
    background-color: #590242;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    margin: 0 0 30px 34px;
}


.more_p {
    background-color: white;
    margin-bottom: 50px;
    margin-top: 20px
}


div h2 {
    color: #590242;
}

p, dl, dd {
    font-size: 1em;
}

footer p {
    font-size: .75em;
    color: #590242;
}

footer {
    background-color: white;
    grid-area: footer;
    text-align: center;
}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}
#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#your_playlists ::-webkit-scrollbar, #curated_playlists ::-webkit-scrollbar {
    width: 15px;
}
#your_playlists ::-webkit-scrollbar-track, #curated_playlists ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}
#your_playlists ::-webkit-scrollbar-thumb, #curated_playlists ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#your_playlists ::-webkit-scrollbar-thumb:hover, #curated_playlists ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    body {
        width: 834px;
    }
    
    #MuzMak {
        position: absolute;
        top: -10px;
        left: -40px;
    }

    .menu {
        position: relative;
        left: 300px;
        
        
    } 

    .menu a {
        color: white;
    }

    #scroll {
        width: 834px;
    }

    #more_tren {
        position: relative;
        left: 620px;
    }

    .heads {
        margin: 0 auto;
    }

    #other {
        position: relative;
        left: 180px;
    }

    #other2 {
        position: relative;
        left: 205px;
    }

    #medium {
        display: grid;
    }

    #second {
        grid-column: 2/3;
    }

    #scroll_your {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
        height: 460px;
        padding-top: 7px;
    }

    #scroll_curated {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
        height: 460px;
        padding-top: 7px;
    }

    #curated_playlists { 
        height: 496px;
        width: 417px;
        
    }

    #curated_playlists section {
        width: 365px;
        height: 125px;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr
    }

    #curated_playlists img {
        grid-column: 1/2;
    }

    #curated_playlists section h3 {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
    }
    
    #curated_playlists section p {
        grid-column: 2/3;
        grid-row: 1/2;
        position: relative;
        top: 30px;
        text-align: center;
    }

    #your_playlists {
        height: 496px;
        width: 417px;
    }

    #your_playlists section {
        width: 360px;
        height: 125px;
        text-align: left;
        display: grid;
    }

    #your_playlists img {
        grid-column: 1/2;
    }

    #your_playlists section h3 {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: center;
    }
    
    #your_playlists section p {
        grid-column: 2/3;
        grid-row: 1/2;
        position: relative;
        top: 30px;
        text-align: center;
    }

    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    label span, input {
        display: none;
    }
}